page-home {

  .background {
    background-color: #000;
    color: #FFF;
  }

  .orange {
    color: #FF8E14;
  }

  .green {
    color: #008A4C;
  }

  .row-hieght {
    height: 200px;
  }

  .center {
    text-align: center;
  }

  .red {
    color: #FF0000;
  }

}
